:root {
	--navy: #1d3557;
	--eggshell: #f1faee;
	--morning-blue: #a8dadc;
	--periwinkle: #457b9d;
	--bright-red: #e63946;
}

html,
body {
	background-color: var(--navy);

	height: 100%;
	width: 100%;
}

h1 {
	background-color: var(--bright-red);
	color: var(--eggshell);

	text-align: center;
	width: 450px;
	padding: 5px;
	margin: 20px auto;
}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;

	background-color: var(--bright-red);

	padding: 5px 0px;
}

nav > button {
	padding: 4px 8px;
	border: 2px solid var(--eggshell);
	border-radius: 5px;

	background-color: var(--morning-blue);
	font-size: 16px;
}
nav > button:hover {
	border-color: black;
}

.ticket,
#table-header {
	display: flex;

	width: 700px;
	margin: 3px 0px;
	border: 3px solid var(--bright-red);

	text-align: center;
	background-color: var(--eggshell);
}

.ticket:hover,
.ticket:hover > div {
	border-color: var(--periwinkle);
	transform: scale(1.025);
}

.ticket > div,
#table-header > div {
	flex-basis: 0;

	text-align: center;
	margin: 0px;
	padding: 0px 5px;
	border-right: 3px solid var(--bright-red);

	height: 100%;
	width: 100%;
	/* prevent the text to wrapping to multiple lines */
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.ticket > .priority,
#priority-header {
	flex-grow: 1;
}
.ticket > .id,
#id-header {
	flex-grow: 0.3;
}
.ticket > .subject,
.ticket > .time,
#time-header,
#subject-header {
	flex-grow: 2;
}

/* remove the right border from the last child of the ticket div */
.ticket > div:last-child,
#table-header > div:last-child {
	border: none;
}

#table-header {
	margin: 10px auto;
	padding: 0px 15px;

	background-color: var(--morning-blue);
	font-weight: bold;
}
#ticket-container {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 0px 15px;

	overflow-x: hidden;
	overflow-y: auto;
	height: 100%;
}

#individual-ticket {
	display: flex;
	flex-direction: column;

	margin-top: 10px;

	height: 95%;
	width: 30%;
	background-color: var(--eggshell);
	text-align: center;

	overflow-x: hidden;
	overflow-y: auto;
}

#ticket-id {
	display: flex;
	align-self: flex-start;
	background-color: var(--morning-blue);

	align-items: center;
	justify-content: center;

	width: 40px;
	height: 40px;
	font-size: 1.5em;
}

main {
	display: flex;
	justify-content: space-around;
	height: 75%;
}

/* represent individual sections of the individual ticket view */
p {
	margin: 5px 0px;
	text-align: left;
	border-bottom: 1px solid black;
	/* prevent paragraphs from getting too close to the edge of the ticket viewer */
	padding: 10px 10px 0px 10px;
}
