:root {
	--almond: #f0dcca;
	--sage: #cdc6a5;
	--morning-blue: #8d9f87;
	--xanadu: #6f9283;
	--black-coral: #696d79;
}
html,
body {
	background-color: var(--almond);
	height: 100%;
	width: 100%;
}

h1 {
	background-color: var(--xanadu);
	color: black;

	text-align: center;
	width: 500px;
	padding: 5px;
	margin: 20px auto;
}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;

	background-color: var(--black-coral);
	padding: 5px 0px;
}

button {
	padding: 4px 8px;
	background-color: var(--morning-blue);
	border: 2px solid var(--sage);
	border-radius: 5px;

	font-size: 16px;
}
button:hover {
	border-color: black;
}

.ticket,
#table-header {
	display: flex;

	width: 700px;
	margin: 3px 0px;
	border: 3px solid var(--black-coral);
	text-align: center;
	background-color: var(--sage);
}

.ticket:hover,
.ticket:hover > div {
	border-color: black;
	transform: scale(1.025);
}

.ticket > div,
#table-header > div {
	text-align: center;
	margin: 0px;
	padding: 0px 5px;
	border-right: 3px solid var(--black-coral);
	width: 100%;
	height: 100%;

	/* prevent the text to wrapping to multiple lines */
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	/* cause the subject element to be twice as large as the other sections */
	flex-basis: 0;
}

/* cause the subject element to be twice as large as the other sections and the id to be smaller */
.ticket > .priority,
#priority-header {
	flex-grow: 1;
}
.ticket > .id,
#id-header {
	flex-grow: 0.3;
}
.ticket > .subject,
.ticket > .time,
#time-header,
#subject-header {
	flex-grow: 2;
}

/* remove the right border from the last child of the ticket div */
.ticket > div:last-child,
#table-header > div:last-child {
	border: none;
}

#ticket-container {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 0px 15px;

	overflow-x: hidden;
	overflow-y: auto;
	height: 100%;
}

#table-header {
	margin: 10px auto;
	background-color: var(--morning-blue);
	font-weight: bold;
	padding: 0px 15px;
}

#individual-ticket {
	display: flex;
	flex-direction: column;

	height: 95%;
	width: 30%;
	background-color: var(--sage);

	text-align: center;

	overflow-x: hidden;
	overflow-y: auto;
}

#ticket-id {
	display: flex;
	align-self: flex-start;
	background-color: var(--morning-blue);

	align-items: center;
	justify-content: center;

	width: 40px;
	height: 40px;
	font-size: 1.5em;
}

main {
	display: flex;
	justify-content: space-around;
	height: 75%;
}

p {
	margin: 5px 0px;
	text-align: left;
	border-bottom: 1px solid black;
	/* prevent paragraphs from getting too close to the edge of the ticket viewer */
	padding: 10px 10px 0px 10px;
}
